<footer>
  <div class="container flex">
    <div class="footer-logo">
      <a href="#" class="nav-link"
        ><img src="../img/logo.png" alt="logo" width="70" id="logo"
      /></a>
    </div>
    <div class="footer-fields flex">
      <div class="help">
        <h3>Help</h3>
        <ul>
          <li>Customer Care</li>
          <li>Contact Us</li>
          <li>Complaint forum</li>
        </ul>
      </div>
      <div class="company">
        <h3>Company</h3>
        <ul>
          <li>Licensing And Certificates</li>
          <li>Copyright</li>
          <li>Company Location</li>
          <li>Service Forum</li>
        </ul>
      </div>
      <div class="policies">
        <h3>Policies</h3>
        <ul>
          <li>Company Policies</li>
          <li>Customer service Policy</li>
          <li>Customer care policy</li>
          <li>Payment or Refund Policy</li>
          <li>Return or Replace Policy</li>
        </ul>
      </div>
      <div class="footer icons">
        <h3>Social Influence</h3>
      </div>
    </div>
  </div>
</footer>

<script src="/js/functionality/menu.js"></script>

<script src="/js/bundle.js"></script>
