:root {
  --clr-primary: #2a26ff;
  --clr-primary-900: rgba(59, 174, 212, 0.9);
  --clr-neutral: #d9d9d96b;
  --clr-neutral-800: rgb(242, 242, 242); /* product card color */
  --clr-background: rgb(243, 249, 254);
  --clr-background-two: #cd5180;
  --offset-y: 4rem;
  --offset-y-mobile: 1rem;
  --border-radius: 1.875rem;

  /* Text and shadow colors */
  --clr-accent-100: rgba(0, 0, 0, 0.1);
  --clr-accent-200: rgba(0, 0, 0, 0.2);
  --clr-accent-400: rgba(0, 0, 0, 0.4);
  --clr-accent-600: rgba(0, 0, 0, 0.6);
  --clr-accent-800: rgba(0, 0, 0, 0.8);

  /* font sizes */

  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;

  --ff-head: 'Poppins', sans-serif;
  --ff-body: 'Noto Sans', sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-800: 800;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.container {
  padding: 30px;
  margin: auto;
  /* height: 100vh; */
  width: calc(100% - 80px);

  justify-content: center;
  flex-direction: column;
}

.hero-width {
  width: 92% !important;
  max-width: 81.25rem;
  margin: 1px auto;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}

ul {
  list-style: none;
}

.wrapper {
  margin: auto;
  /* max-width: 1300px; */
}

/* Navigation Styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5em;
  position: relative;
  background-color: var(--clr-neutral);
  font-family: var(--ff-head);
  font-weight: 500;
  box-shadow: 0rem 0.1rem 0.5rem var(--clr-accent-200);
  font-size: clamp(var(--fs-300), calc(1vw + 0.25rem), var(--fs-700));
  z-index: 1;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-accent-800);
}

#nav-list {
  gap: var(--fs-500);
}

.m-item {
  --link-pading: 1em;
  padding: var(--link-pading);
}

.m-item + .m-item {
  border-top: 1px solid var(--clr-accent-200);
}

.m-nav-list {
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 98.8vw;
  overflow-x: hidden;
  border: 1px solid var(--clr-primary);
}

#hero-slider {
  height: 100vh;
  /* align-items: center; */
}

/* Slider container */
.slider-container {
  position: relative;
  width: 100%;
  border: 1px solid rgb(240, 247, 255);
  border-radius: var(--border-radius);
  overflow: hidden;
}

#m-menu {
  display: none;
}

.slider,
.slider-1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: transform 0.5s ease;
  /* overflow: hidden; */
}

.slider-item-style {
  /* padding: 50px; */
  flex: 0 0 100%;
  position: relative;
  color: white;
}

.slider-image {
  width: 100%;
  object-fit: cover;
  border-radius: 1.875rem;
  opacity: 0.9;
}

.get-product {
  cursor: pointer;
  width: 100%;
}
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;

  border: none;

  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

/* Product styling */
.product {
  /* border: 1px solid lightslategray; */
  background-color: var(--clr-background);
  position: relative;
  gap: 10px;
  margin-top: var(--offset-y);
  /* padding: 10px; */
}
.product-verticel-align {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.current-image img {
  height: 64px;
  width: 70px;
}
.current-image img:hover {
  border: 2px solid var(--clr-primary);
}

.main-product-image img {
  height: 350px;
  width: 450px;
}
.main-product-image {
  display: none;
}
.current-image,
.current-block-image {
  display: block;
}
/* Target styling */
.main-product-image:target {
  display: block;
}
.main-product-image:not(:target) {
  display: none;
}

.product-show-box:target #default-image {
  display: block;
}
.product-section {
  padding: 10px 0px;
  justify-content: space-between;
  font-size: var(--fs-500);
  /* border: 1px solid lightslategrey; */
}

.product-container {
  grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
  column-gap: 1.25rem;
  row-gap: 4rem;
}
.product-item {
  margin: 10px 0px;
  height: 18.75rem;
  /* border-radius: 30px; */
  /* border: 1px solid var(--clr-primary-900); */
  background-color: var(--clr-neutral);
  position: relative;
  box-shadow: 0rem 0.1rem 0.5rem var(--clr-accent-200);
  overflow: hidden;
  border-radius: var(--border-radius);
}
.product-cart {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-800);
  position: absolute;
  left: 10px;
  top: 9px;
  z-index: 1;
}
.product-img img {
  width: 100%;
  height: 13.125rem;
  filter: grayscale(0.3);
  object-fit: cover;
}

.product-text-details {
  padding: 10px 6px;
}
.product-name {
  height: 4ch;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-name a {
  color: black;
  text-decoration: none;
  font-weight: var(--fw-600);
}

#cart-btn {
  border: none;
}
.product-rating {
  justify-content: space-around;
}
.star-rating {
  font-size: var(--fs-400);
}
.active {
  color: green;
}

.inactive {
  color: lightslategrey;
}
/* Testimonial  */
#testimonial {
  align-items: center;
  margin-top: calc(var(--offset-y) * 1.3125);
}
#test-slider {
  background-color: var(--clr-background-two);
  padding: 1em;
}
.testimonial-slider-box {
  padding: 30px;
  background-color: var(--clr-background-two);
}
.testimonial-head {
  margin: 20px auto;
  font-size: var(--fs-700);
}
.testimonial-details {
  margin: auto;
  max-width: 70ch;
  font-size: var(--fs-400);
  text-align: center;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.user-avatar img {
  height: 8.4375rem;
  width: 8.4375rem;
  border-radius: 50%;
  border: 5px solid lightslategray;
  object-fit: cover;
}

#about {
  align-items: center;
  margin-top: calc(var(--offset-y) * 2.203125);
}
/* About Styling */
.about-us {
  /* width: calc(100% - 60px) !important; */
  background-color: var(--clr-background-two);
  color: white;
  border-radius: 10px;
}
.about-detail {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  position: relative;
}
.about-us-head {
  font-size: var(--fs-600);
  /* text-align: center; */
}
.about-text {
  line-height: 2.5ch;
  text-align: justify;
}
.about-avatar {
  flex-direction: column;
  justify-content: end;
  align-self: center;
  /* position: relative; */
}
.about-avatar-1 img {
  width: 100%;
  height: 380px;
  flex-shrink: 1;
  border-radius: 10px;
  object-fit: cover;
  /* height: 250px; */
  /* border-radius: 10px;
    position: absolute; */
}

/* Cart page styling */
#cart-form {
  flex-direction: column;
}
.cart-form-element {
  padding: 20px;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
  border-bottom: 2px solid var(--clr-accent-600);
}

.cart-element-select {
  gap: 20px;
}
.cart-img img {
  height: 200px;
  width: 200px;
}
.cart-element-sizes,
.cart-quantity-select {
  gap: 1rem;
}
.size-details {
  gap: 10px;
}

.cart-heading {
  padding: 10px;
  font-size: var(--fs-400);
  background-color: var(--clr-background);
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
/* Admin Dashboard */
.dashboard {
  height: 100vh;
  text-align: center;
  background-color: #000482;
  position: relative;
}
.dashboard h1 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
}
.dashboard-container {
  height: calc(100% - 70px);
  padding: 10px;
  grid-template-columns: 1fr 4fr;
  position: relative;
}
.dashboard_left {
  justify-content: space-between;
  flex-direction: column;
  border: 5px solid rgb(85, 157, 240);
  position: relative;
}
.dashboard_left_content {
  gap: 10;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.dashboard_left_content a {
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  font-weight: var(--fw-600);
  font-size: var(--fs-500);
  color: white;
  border-radius: 10px;
  background-color: rgb(45, 127, 209);
  transition: transform 0.2s ease-in;
}

.dashboard_left_content a:hover,
.submit_or_reset_buttons button:hover {
  transform: scale(1.05);
}

.dashboard_right {
  border: 5px solid rgb(85, 157, 240);
  position: relative;
  overflow-y: scroll;
}
.dashboard_right_content {
  display: none;
  color: white;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}
.dashboard_right_content h3 {
  padding: 20px;
  font-size: var(--fs-800);
}
.form {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.input_details {
  padding: 10px;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  font-size: var(--fs-600);
  font-weight: 700;
  color: #f4efefcd;
  border-radius: 10px;
  background-color: rgb(45, 127, 209);
}
.input_details div {
  width: calc(100% - 10px);
  text-align: start;
  margin: 10px 0px;
}
.input_details input {
  width: calc(100% - 20px);
  padding: 5px;
  font-size: var(--fs-600);
  border-radius: 5px;
  outline: none;
  color: white;
  background-color: #2207d495;
}
#description {
  padding: 10px;
  font-size: var(--fs-600);
  color: white;
  background-color: #2207d495;
  border-radius: 10px;
}
#category,
#role {
  width: calc(100% - 20px);
  font-size: var(--fs-600);
  color: white;
  background-color: #2207d495;
}
.submit_or_reset_buttons {
  flex-direction: row;
  justify-content: space-evenly;
  grid-column: span 2;
}
.submit_or_reset_buttons button {
  padding: 10px;
  font-size: var(--fs-600);
  font-weight: 700;
  border-radius: 10px;
  border: none;
  color: #f4efefcd;
  background-color: #2207d495;
}

/* Table container styling */
.table-container {
  padding: 20px;
  margin: 20px auto;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

/* Basic table styling */
.styled-table {
  width: 100%;
  border-collapse: collapse;
}

/* Table header styling */
.styled-table thead tr {
  background-color: #009879;
  color: black;
  text-align: center;
}

/* Table header cells styling */
.styled-table th,
.styled-table td {
  color: black;
  padding: 12px 15px;
}
.styled-table td img {
  height: 150px;
  width: 200px;
}
.styled-table td #edit,
.styled-table td #delete {
  padding: 8px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: var(--fs-600);
  background-color: rgb(6, 93, 173);
  border-radius: 10px;
}
.styled-table td #delete {
  background-color: rgb(155, 12, 12);
}
/* Table body row styling */
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* Table body row hover effect */
.styled-table tbody tr:hover {
  background-color: #f3f3f3;
}

/* Table body alternating row background color */
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

/* Last row styling */
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.display {
  display: block;
}

/* Footer  */
footer {
  border-top: 1px solid lightslategrey;
  background-color: var(--clr-background-two);
  color: white;
}
footer .container {
  flex-wrap: wrap;
  gap: 10px;
}
.footer-fields {
  flex-grow: 3;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .testimonial-details {
    width: 50ch;
  }
}

@media (max-width: 450px) {
  .navbar {
    padding: 1em;
  }
  .container {
    padding: 0px;
    width: calc(100% - 10px) !important;
  }
  .hero-width {
    width: 100% !important;
    padding: 0;
  }
  .slider-container,
  .slider-image {
    border-radius: 0;
  }

  #hero-slider {
    height: fit-content;
    padding: 20px 0px;
  }
  #about {
    height: max-content;
    padding: 20px 0px;
    margin-top: calc(var(--offset-y-mobile) * 1.25);
  }
  .about-us-head {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
  }
  #testimonial {
    height: max-content;
    padding: 20px 0px;
    margin-top: calc(var(--offset-y-mobile) * 1.25);
  }
  .testimonial-details {
    display: block;
  }
  .product {
    padding: 0px;
    flex-direction: column-reverse;
    margin-top: var(--offset-y-mobile);
    font-size: var(--fs-300);
  }
  .product-container {
    padding: 0px 15px;
    grid-template-columns: repeat(2, 9.3rem);
    gap: 1.25rem;
    place-content: center;
  }
  .about-detail {
    padding: 15px;
    grid-template-columns: 1fr;
  }
  .testimonial-details {
    width: 25ch;
    font-size: var(--fs-400);
  }

  .product-head,
  .show-more,
  .about-us-head h2 {
    font-size: var(--fs-500);
  }

  .product-item {
    height: 13.3125rem;
  }

  .product img {
    height: 9.375rem;
  }

  .about-text {
    font-size: var(--fs-300);
  }
  footer .container {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .footer-fields {
    display: block;
  }
  .help,
  .company,
  .policies,
  .icons {
    text-align: center;
    margin: 15px auto;
  }
  .active,
  .inactive {
    font-size: 0.8rem;
  }
  #nav-list {
    display: none;
  }
  #m-menu {
    display: block;
  }
}
